@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scroll functionality */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Smooth scrolling behavior */
.scroll-smooth {
  scroll-behavior: smooth;
}

.new-font {
  font-family: "Montserrat";
}

.testimonial-slider .slick-dots li button:before {
  color: black;
  opacity: 1;
}

.testimonial-slider .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

/* White border with 20% opacity */
.border-white-20 {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.marketingservice {
  height: 320px;
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
}

.development-hero-bg {
  height: 70vh;
}

@media (min-width: 320px) and (max-width: 768px) {
  .review-main {
    height: 65vh;
    position: relative;
    overflow: hidden;
  }
  .marketingservice {
    height: 200px;
  }
  .development-hero-bg {
    height: 50vh;
  }
}

/* reviews.css or global styles */
@media (min-width: 1024px) {
  .testimonial-slider .slick-slide {
    padding: 0 12px;
  }

  .testimonial-slider .slick-list {
    margin: 0 -12px;
  }
}
